﻿@page "/axe/downloads"
@using downloads.website.Logic
@using Newtonsoft.Json.Linq

<h1>Downloads</h1>
Please be patient for the files to start downloading. Google scans them for viruses before the download starts.
<br />
<br />

<div class="tg-wrap">
  <table class="table" style="max-width: 800px !important;">
    <thead>
    <tr>
      <th></th>
      <th>Platform</th>
      <th>Download</th>
      <th>Install</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>VSCode Extension</td>
      <td>All</td>
      <td><a href="@(Query.get("ae") ?? "")">VSCode Extension .zip</a></td>
      <td><a href="axe/vscode-extension">Installation</a></td>
    </tr>
    </tbody>
  </table>
</div>

@code {
  protected override async Task OnInitializedAsync()
  {
    if (Query.get("ae") == null)
    {
      var client = new HttpClient();
      using (client)
      {
        var response = await client.GetStringAsync("https://api.bitbucket.org/2.0/repositories/sweetbridge/downloads.website/src/master/downloads.website/wwwroot/downloads.json");
        var json = JObject.Parse(response);
        Query.content.Add("ae", json["axe.extension"]!.ToString());
      }
    }
  }
}