﻿@page "/essl/combined-source"
@using downloads.website.Logic

<div id="content">
    <div style="width: 100%; overflow: hidden;">
        <div style="width:50%; float: left;">
            @if (Query.get(Url) == null)
            {
                <span>Loading...</span>
            }
            else
            {
                @((MarkupString)@markdown)
            }
        </div>
        <div style="margin-left: 51%;">
            <img src="/images/essl/source_preview.png" style="max-width:100%; height:auto; float: right" alt="Preview Image" />
        </div>
    </div>
</div>

@code {
    private const string Url = "data/combinedsource.md";
    static string markdown = Query.get(Url);

    protected override async Task OnInitializedAsync()
    {
        markdown = await Query.query(Url, true);
    }
}