﻿@page "/essl/downloads"
@using Newtonsoft.Json.Linq
@using Logic

<h1>Downloads</h1>
Please be patient for the files to start downloading. Google scans them for viruses before the download starts.
<br />
<br />

<div class="tg-wrap">
  <table class="table" style="max-width: 800px !important;">
    <thead>
    <tr>
      <th></th>
      <th>Platform</th>
      <th>Download</th>
      <th>Install</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="3">Essl Generator</td>
      <td>Windows</td>
      <td><a href="@(Query.get("egw") ?? "")">Windows .zip</a></td>
      <td rowspan="3"><a href="essl/generator">Installation</a></td>
    </tr>
    <tr>
      <td>Mac</td>
      <td><a href="@(Query.get("egm") ?? "")">Mac .zip</a></td>
    </tr>
    <tr>
      <td>Linux</td>
      <td><a href="@(Query.get("egl") ?? "")">Linux .zip</a></td>
    </tr>
    <tr>
      <td>VSCode Extension</td>
      <td>All</td>
      <td><a href="@(Query.get("ee") ?? "")">VSCode Extension .zip</a></td>
      <td><a href="essl/vscode-extension">Installation</a></td>
    </tr>
    <tr>
      <td>Essl Combined Source</td>
      <td>All</td>
      <td><a href="@(Query.get("es") ?? "")" target="_blank">Repository Link</a></td>
      <td><a href="essl/combined-source">Installation</a></td>
    </tr>
    </tbody>
  </table>
</div>


@code {
  protected override async Task OnInitializedAsync()
  {
    if (Query.get("egw") == null)
    {
      var client = new HttpClient();
      using (client)
      {
        var response = await client.GetStringAsync("https://api.bitbucket.org/2.0/repositories/sweetbridge/downloads.website/src/master/downloads.website/wwwroot/downloads.json");
        var json = JObject.Parse(response);
        Query.content.Add("egw", json["essl.generator.windows"]!.ToString());
        Query.content.Add("egm", json["essl.generator.mac"]!.ToString());
        Query.content.Add("egl", json["essl.generator.linux"]!.ToString());
        Query.content.Add("ee", json["essl.extension"]!.ToString());
        Query.content.Add("es", json["essl.source"]!.ToString());
      }
    }
  }
}
