﻿@page "/essl/vscode-extension"
@using downloads.website.Logic

<div id="content">
    <div style="width: 100%; overflow: hidden;">
        <div style="width:50%; float: left;">
            @if (Query.get(Url) == null)
            {
                <span>Loading...</span>
            }
            else
            {
                @((MarkupString)@markdown)
            }
        </div>
        <div style="margin-left: 51%;">
            <img src="/images/essl/extension_gif.gif" style="max-width:100%; height:auto" alt="Preview Image" />
        </div>
    </div>
</div>

@code {

    private const string Url = "https://api.bitbucket.org/2.0/repositories/Sweetbridge/essl-syntax-highlighting/src/master/README.md";
    static string markdown = Query.get(Url);

    protected override async Task OnInitializedAsync()
    {
        markdown = await Query.query(Url, false);
    }

}
