﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="min-width: 260px !important">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://sweetbridge.com" target="_blank"><img src="/images/essl/logo.png" alt="Logo Image" style="height:2.5rem"></a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
