﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Home</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div style="margin-top:20px;">
    <a href="essl" style="color: white; padding-top:20px; padding-left: 1.5rem; padding-bottom: 0; font-size: 1.1rem">ESSL</a>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" id="EsslList">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="essl" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Overview
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="essl/generator">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Generator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="essl/vscode-extension">
                <span class="oi oi-list-rich" aria-hidden="true"></span>VSCode Extension
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="essl/combined-source">
                <span class="oi oi-list-rich" aria-hidden="true"></span>ESSL Combined Source
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="essl/protocols-essl">
                <span class="oi oi-list-rich" aria-hidden="true"></span>ESSL Documentation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="essl/downloads">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Downloads
            </NavLink>
        </li>
    </ul>
</div>

@*<hr class="solid" style="background-color: white;">*@

<div style="margin-top:8px;">
    <a href="axe" style="color: white; padding-left: 1.5rem; padding-bottom: 0; font-size: 1.1rem">AXE</a>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" id="AxeList">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="axe" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Overview
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="axe/vscode-extension">
                <span class="oi oi-list-rich" aria-hidden="true"></span>VSCode Extension
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="axe/downloads">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Downloads
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
